@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

html,body {
    background-color: #FFF;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 50px;
}

nav a {
    text-decoration: none;
    color: #141C31;
    padding: 20px;
    font-family: 'Rubik', sans-serif; 
    font-weight: 400;
    position: relative;
}

.nav-links a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #184fee;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.nav-links a:hover:before {
    width: 100%;
}
.nav-links a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-links a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.button-div {
    margin-top: -20px;
    background-color: white;
    border: 1.4px;
    border-style: solid;
    border-color: #141C31;
    border-radius: 20px 20px 20px 20px;
    padding: 11px 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    transition: 0.3s;
}

.logo {
    margin-left: 50px;
    width: 100px;
    height: 50px;
    margin-top: -20px;
    cursor: pointer;
}

.button-div:hover {
    background-color: #141C31;
    color: #FFF;
    transition: 0.3s;
}

.welcome {
    display: inline-block;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 100px;
    z-index: 1;
}

.image-welcome {
    height: 750px;
    width: 500px;
    display: block;
    float: right;
    margin-top: -50px;
}

@media(max-width: 1065px) {
    .image-welcome {
        height: 550px;
        width: 350px;
    }
}

@media(max-width: 930px) {
    .image-welcome {
        display: none;
    }
}

.h1 {
    color: #141C31;
    font-size: 4.5rem;
    font-family: 'Rubik', sans-serif;
    margin-top: -5px;
}

.small-text {
    margin-top: 40px;
    color: #b0a9aa;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.button-welcome {
    font-family: 'Rubik', sans-serif;
    background-color: #404aff;
    margin-top: 20px;
    color: white;
    border-radius: 50px;
    padding: 16px 45px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.comment {
    color: #c88d9b;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.play-btn {
    position: relative;
    color: #404aff;
    top: 10px;
    left: 5px;
}

.cyrcle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-left: 290px;
    margin-top: -190px;
    background: rgb(184,72,28);
    z-index: -1;
    background: linear-gradient(230deg, rgba(184,72,28,1) 12%, rgba(227,103,8,1) 35%, rgba(240,143,48,1) 61%, rgba(246,180,48,1) 85%);
}

.cyrcle-resume {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-left: 470px;
    margin-top: -100px;
    background: rgb(184,72,28);
    z-index: -1;
    background: linear-gradient(230deg, rgba(184,72,28,1) 12%, rgba(227,103,8,1) 35%, rgba(240,143,48,1) 61%, rgba(246,180,48,1) 85%);
}

.icons {
    margin-top: 100px;
}

.icons a {
    padding: 10px;
    display: inline-flex;
    border: 1px solid #ED8626;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    color: #ED8626;
}

.icons a:hover {
    background-color: #ED8626;
    color: #FFF;
    transition: 0.3s;
}

.menu {
    display: none;
}
  
.menu .page-menu {
    display: none;
}
  
.menu-link {
    display: none;
}
  
.menu .closebtn {
    display: none;
}

/* About */

.about {
    display: inline-flex;
    padding: 150px 300px;
    font-family: 'Rubik', sans-serif;
}

.content {
    padding: 20px 100px;
}

.content h4 {
    color: #404aff;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.content h1 {
    font-size: 53px;
    color: #141C31;
}

.content p {
    font-size: 15px;
    color: #b0a9aa;
    font-weight: 500;
    margin-top: 25px;
}

.image-about {
    width: 350px;
    height: 300px;
    border-radius: 30px;
}

/* Cards */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
    font-family: 'Rubik', sans-serif;
}

.card {
    padding: 70px 30px;
    color: #141C31;
}

.title {
    font-size: 27px;
    color: #404aff;
}

.card p {
    color: #aca7a8;
    margin-top: 20px;
    padding: 0px 60px;
}

.number {
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 5px;
    background: linear-gradient(230deg, rgba(184,72,28,1) 12%, rgba(227,103,8,1) 35%, rgba(240,143,48,1) 61%, rgba(246,180,48,1) 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Resume */

.resume {
    display: block;
    padding: 100px;
    margin-bottom: 50px;
}

.content-resume img {
    display: flex;
    float: right;
    width: 350px;
    height: 300px;
    border-radius: 30px;
    margin-top: -130px;
}

@media(max-width: 1186px) {
    .resume {
        padding: 50px;
    }
}



.content-resume h1 {
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    color: #141C31;
}

.content-resume p {
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    color: #b0a9aa;
    width: 600px;
    margin-top: 20px;
}

  .button.dark {
    --background: #242836;
    --rectangle: #1C212E;
    --arrow: #F5F9FF;
    --text: #F5F9FF;
    --success: #2fc481;
  }
  .button {
    --background: #275efe;
    --rectangle: #184fee;
    --success: #2fc481;
    --text: #fff;
    --arrow: #fff;
    --checkmark: #fff;
    --shadow: rgba(10, 22, 50, 0.24);
    display: flex;
    overflow: hidden;
    text-decoration: none;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    background: var(--background);
    border-radius: 8px;
    box-shadow: 0 2px 8px -1px var(--shadow);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-family: 'Rubik', sans-serif;
  }
  .button:active {
    transform: scale(0.95);
    box-shadow: 0 1px 4px -1px var(--shadow);
  }
  .button ul {
    margin: 0;
    padding: 16px 40px;
    list-style: none;
    text-align: center;
    position: relative;
    backface-visibility: hidden;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--text);
  }
  .button ul li:not(:first-child) {
    top: 16px;
    left: 0;
    right: 0;
    position: absolute;
  }
  .button ul li:nth-child(2) {
    top: 76px;
  }
  .button ul li:nth-child(3) {
    top: 136px;
  }
  .button > div {
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--rectangle);
  }
  .button > div:before, .button > div:after {
    content: '';
    display: block;
    position: absolute;
  }
  .button > div:before {
    border-radius: 1px;
    width: 2px;
    top: 50%;
    left: 50%;
    height: 17px;
    margin: -9px 0 0 -1px;
    background: var(--arrow);
  }
  .button > div:after {
    width: 60px;
    height: 60px;
    transform-origin: 50% 0;
    border-radius: 0 0 80% 80%;
    background: var(--success);
    top: 0;
    left: 0;
    transform: scaleY(0);
  }
  .button > div svg {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -10px;
    fill: none;
    z-index: 1;
    stroke-width: 2px;
    stroke: var(--arrow);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .button.loading ul {
    animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
  }
  .button.loading > div:before {
    animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
  }
  .button.loading > div:after {
    animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
  }
  .button.loading > div svg {
    animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
  }
  @keyframes text {
    10%, 85% {
      transform: translateY(-100%);
    }
    95%, 100% {
      transform: translateY(-200%);
    }
  }
  @keyframes line {
    5%, 10% {
      transform: translateY(-30px);
    }
    40% {
      transform: translateY(-20px);
    }
    65% {
      transform: translateY(0);
    }
    75%, 100% {
      transform: translateY(30px);
    }
  }
  @keyframes svg {
    0%, 20% {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
    21%, 89% {
      stroke-dasharray: 26px;
      stroke-dashoffset: 26px;
      stroke-width: 3px;
      margin: -10px 0 0 -10px;
      stroke: var(--checkmark);
    }
    100% {
      stroke-dasharray: 26px;
      stroke-dashoffset: 0;
      margin: -10px 0 0 -10px;
      stroke: var(--checkmark);
    }
    12% {
      opacity: 1;
    }
    20%, 89% {
      opacity: 0;
    }
    90%, 100% {
      opacity: 1;
    }
  }
  @keyframes background {
    10% {
      transform: scaleY(0);
    }
    40% {
      transform: scaleY(0.15);
    }
    65% {
      transform: scaleY(0.5);
      border-radius: 0 0 50% 50%;
    }
    75% {
      border-radius: 0 0 50% 50%;
    }
    90%, 100% {
      border-radius: 0;
    }
    75%, 100% {
      transform: scaleY(1);
    }
  }
  
  body .container2 {
    margin-top: 50px;
    display: flex;
  }

/* Footer */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
}

footer {
    display: flex;
    float: inline-end;
    bottom: none;
    background-color: #376fff;
}

.container-1 {
    max-width: 1640px;
    bottom: 0;
    padding: 30px 110px;
    margin: auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: auto;
}

.content_footer  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-right: 130px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

/* Logo footer */

.logo-size {
    width: 70px;
    height: 70px;
}

.logo-footer {
    margin-right: 150px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.profil .logo_area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profil .logo_area img {
    border-radius: 50%;
    border: 1px solid #fff;
}

/* Text footer */

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

.copy_right a {
    color: #141C31;
    margin-top: auto;
    margin-bottom: auto;
}

.copy_right span {
    color: #141C31;
    margin-left: 3px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

.logo_area .logo_name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    color:  #FFF;
}

.desc_area {
    max-width: 320px;
    margin-bottom: 1.25rem;
}

.desc_area p {
    color:  #FFF;
    font-weight: 300;
    line-height: 28px;
}

/* social media icon footer */

.social_media a {
    color: #FFF;
    font-size: 35px;
    margin-top: 100px;
    cursor: pointer;
    margin-left: 10px;
    left: 20px;
}

/* link footer */

.service_area {
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.service_header  {
    margin-right: 150px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

li.service_name {
    color:  #141C31;
    font-weight: 800;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

.service_header li a {
    color:  #FFF;
    padding-bottom: 1px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

.service_header li a:hover {
    color:  #FFF;
}

.service_header li {
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
}

hr {
    height: 1px;
    margin-top: 40px;
    border: none;
    background-color:  #ffffff;
    margin-bottom: 1rem;
}

@media screen and (max-width: 792px) {
    .rise {
        position: relative;
    }

    .add-cart {
        position: absolute;
        margin-top: 5px;
        margin-left: -120px;
    }

    .icon-healt {
        position: absolute;
        margin-top: -40px;
        margin-left: 25px;
    }

    .card {
        margin-top: -10px;
    }
}

@media screen and (max-width: 778px) {
    .search-box {
        margin-top: 50px;
    }
}

/* Footer respansiv */

@media screen and (max-width: 768px) {
    .content_footer {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service_area {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service_header {
        margin-left: 0;
        margin-right: 40px;
        margin-top: 50px;
    }

    .social_media {
        margin-bottom: 1rem;
    }

    .foooter_bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 510px){
    .service_header {
        margin-bottom: 8px;
    }

    .copy_right {
        margin-bottom: 8px;
    }
}

@media (max-width: 600px) {
    .welcome {
        margin-left: 30px;
    }

    .logo {
        margin-left: 5px;
    }
}

@media screen and (max-width: 577px) {
    .service_area {
        margin-left: 10px;
    }

    hr {
        display: none;
    }

    .footer_bottom {
        display: none;
    }
}

@media screen and (max-width: 469px) {
    .service_area {
        margin-left: 1350px;
    }

    hr {
        display: none;
    }

    .footer_bottom {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .service_area {
        margin-left: 10px;
    }

    .content p {
        font-size: 11px;
    }

    .content h1 {
        font-size: 40px;
    }
    
    hr {
        display: none;
    }
}

@media (max-width: 600px) {
    .welcome {
        margin-left: 20px;
    }

    .h1 {
        font-size: 55px;
    }

    .small-text {
        font-size: 13px;
    }

    .logo {
        margin-left: -15px;
    }

    .cyrcle {
        margin-left: 200px;
    }
}

@media (max-width: 375px) {
    .service_area {
        margin-left: 10px;
    }

    .welcome {
        margin-left: 20px;
    }

    .about {
        margin-top: -80px;
    }

    .h1 {
        font-size: 55px;
    }

    .container {
        margin-top: 100px;
    }

    .small-text {
        font-size: 12px;
    }

    .logo {
        margin-left: -15px;
    }

    .cyrcle {
        margin-left: 170px;
        width: 160px;
        height: 160px;
    }

    .content h1 {
        font-size: 30px;
    }

    .content p {
        font-size: 10px;
    }

    .image-about {
        width: 250px;
        height: 200px;
    }
}

@media(max-width: 484px) {
    .image-about {
        position: absolute;
        top: 950px;
    }
}

@media(max-width: 427px) {
    .image-about {
        position: absolute;
        top: 750px;
    }
}

@media(max-width: 375px) {
    .image-about {
        position: absolute;
        top: 600px;
    }
}

@media(max-width: 348px) {
    .image-about {
        position: absolute;
        top: 650px;
    }
}

@media (max-width: 320px) {
    .welcome {
        margin-left: 20px;
    }

    .h1 {
        margin-left: 5px;
        font-size: 45px;
    }

    .small-text {
        margin-top: 80px;
        font-size: 10px;
    }

    .logo {
        margin-left: -15px;
    }

    .cyrcle {
        margin-left: 170px;
        width: 120px;
        height: 120px;
    }

    .content h1 {
        font-size: 30px;
    }

    .content p {
        font-size: 8px;
    }
    
    hr {
        display: flex;
        float: right;
        text-align: center;
        justify-content: center;
        width: 200px;
        margin-right: -50px;
    }

    .service_area {
        margin-left: -50px;
    }

    .footer_bottom {
        margin-left: 1500px;
    }
}

@media(max-width: 1580px) {
    .about {
        padding: 150px 200px;
    }
}

@media(max-width: 1380px) {
    .about {
        padding: 150px 100px;
    }
}

@media(max-width: 1180px) {
    .about {
        padding: 150px 50px;
    }
}

@media(max-width: 1080px) {
    .about {
        padding: 150px 20px;
    }
}

@media(max-width: 1020px) {
    .content {
        padding: 20px;
    }
}

@media(max-width: 853px) {
    .about {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .image-about {
        position: absolute;
        margin-top: 400px;
    }

    .container {
        margin-top: 300px;
    }
}

@media(max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 671px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
    }
}

@media(max-width: 768px) {
    .menu {
        display: block;
    }

    body.page-menu {
        max-height: 100%;
        overflow: hidden;
    }
    
    .menu .page-menu {
        margin-left: 30px;
        display: block;
        float: right;
        overflow: hidden;
    }
    
    .menu-link {
        display: flex;
        float: right;
        color: #000;
        text-decoration: none;
        position: absolute;
        top: 20px;
        right: 25px;
    }
    
    .menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        transition: 0.5s;
        background-color: #FFF;
    }
    
    .page-menu {
        position: relative;
        top: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .menu a {
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        padding: 10px;
        font-size: 36px;
        position: relative;
        display: block;
        text-decoration: none;
        color: #404aff;
    }
    
    .menu .closebtn {
        display: flex;
        position: absolute;
        color: #404aff;
        float: right;
        right: 10px;
        top: 10px;
        width: 50px;
        height: 50px;
    }
    
    .nav_links li a {
      display: none;
    }

    .nav-links {
        display: none;
    }

    .button-div {
        display: none;
    }
}

@media(max-width: 1054px) {
    .content-resume h1 {
        font-size: 40px;
    }

    .content-resume p {
        font-size: 13px;
        width: 500px;
    }
}

@media(max-width: 968px) {
    .button {
        margin-left: 140px;
    } 

    .content-resume img {
        position: absolute;
        margin-top: 200px;
        margin-left: 80px;
    }

    .resume {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 500px;
    }
}

@media(max-width: 512px) {
    .button {
        margin-left: 95px;
    } 

    .content-resume img {
        width: 250px;
        height: 200px;
        margin-left: 70px;
    }

    .content-resume h1 {
        font-size: 30px;
    }

    .content-resume p {
        font-size: 12px;
        width: 400px;
    }
}

@media(max-width: 422px) {
    .button {
        margin-left: 45px;
    } 

    .content-resume img {
        width: 250px;
        height: 200px;
        margin-left: 30px;
    }

    .content-resume h1 {
        font-size: 25px;
    }

    .content-resume p {
        font-size: 11px;
        width: 300px;
    }
}
